%section {
  margin-top: 12rem;
  &:last-of-type {
    margin-bottom: 12rem;
  }
  @include respond(tab-port) {
    margin-top: 8rem;
    &:last-of-type {
      margin-bottom: 8rem;
    }
  }
  @include respond(phone) {
    margin-top: 6rem;
    &:last-of-type {
      margin-bottom: 6rem;
    }
  }
  @include respond(small-phone) {
    margin-top: 4rem;
    &:last-of-type {
      margin-bottom: 4rem;
    }
  }
}

.section-container {
  grid-column: center-start / center-end;
  @extend %section;
  @include respond(small-phone) {
    grid-column: full-start / full-end;
  }
}

.section-content {
  grid-column: full-start / full-end;
  @extend %section;
}

.form-container {
  grid-column: col-start 3 / col-end 6;
  @extend %section;

  @include respond(tab-port) {
    grid-column: col-start 2 / col-end 7;
  }
  @include respond(phone) {
    grid-column: center-start / center-end;
  }
  @include respond(small-phone) {
    grid-column: full-start / full-end;
  }
}

.section-user {
  grid-column: center-start/ center-end;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 3rem;
  @extend %section;
  min-height: 60vh;

  &__sidebar {
    grid-column: 1/2;
    grid-row: 1 / 3;
    background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-primary-dark
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__heading {
    grid-column: 2/-1;
  }
  &__container {
    grid-column: 2/-1;
    margin-bottom: 8rem;
  }
  @include respond(tab-port) {
    &__heading {
      grid-column: 1/-1;
    }
    &__container {
      grid-column: 1/-1;
      margin-bottom: 0rem;
    }
    &__sidebar {
      display: none;
    }
  }
  @include respond(small-phone) {
    grid-column: full-start/ full-end;
  }
}

.section-features {
  grid-column: full-start / full-end;
  margin-top: 12rem;
  background-color: $color-primary-light;
  padding: 12rem 0rem;

  display: grid;
  grid-template-columns:
    [feature-full-start] minmax(6rem, 1fr) [feature-content-start] minmax(
      min-content,
      120rem
    )
    [feature-content-end] minmax(6rem, 1fr) [feature-full-end];

  @include respond(tab-port) {
    margin-top: 8rem;
    padding: 8rem 0rem;
    grid-template-columns:
      [feature-full-start] minmax(4rem, 1fr) [feature-content-start] minmax(
        min-content,
        120rem
      )
      [feature-content-end] minmax(4rem, 1fr) [feature-full-end];
  }
  @include respond(phone) {
    margin-top: 6rem;
    padding: 6rem 0rem;
    grid-template-columns:
      [feature-full-start] minmax(2rem, 1fr) [feature-content-start] minmax(
        min-content,
        120rem
      )
      [feature-content-end] minmax(2rem, 1fr) [feature-full-end];
  }
  @include respond(small-phone) {
    margin-top: 4rem;
    padding: 4rem 0rem;
    grid-template-columns:
      [feature-full-start] minmax(0rem, 1fr) [feature-content-start] minmax(
        min-content,
        120rem
      )
      [feature-content-end] minmax(0rem, 1fr) [feature-full-end];
  }
}

.section-order {
  grid-column: center-start / col-end 5;
  margin: 8rem 0 12rem 0;

  @include respond(tab-port) {
    grid-column: center-start / center-end;
    margin: 6rem 0 6rem 0;
  }
  @include respond(phone) {
    margin: 4rem 0 4rem 0;
  }
}

.section-ordersummary {
  grid-column: col-end 5 / center-end;
  margin: 8rem 0 12rem 0;

  @include respond(tab-port) {
    grid-column: center-start / center-end;
    justify-self: center;
    margin: 0 0 8rem 0;
  }
  @include respond(phone) {
    margin: 0 0 6rem 0;
  }
}
