.navigation-item {
  display: flex;
  &__sub {
    display: none;
    position: absolute;
    transition: all 0.2s ease-out;
    margin-top: 3.5rem;
    width: 18rem;
    transform: translateX(-20%);
    background-color: $color-black;
    list-style: none;
  }
  &:hover > &__sub,
  &__sub-list:hover {
    visibility: visible;
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
}
