.user-nav {
  &__user {
    border-radius: 7rem;
    transition: all 0.2s;
    color: $color-white;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.7rem 1.5rem;
    margin-right: 0.5rem;
    &:hover {
      color: $color-primary;
    }
    &--open {
      color: $color-primary;
      &::before {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 80;
        content: ' ';
        background-color: rgba($color-black, 0);
        cursor: default;
      }
    }

    &-container {
      display: flex;
      flex-direction: column;
      cursor: default;
      &:not(:last-child) {
        border-bottom: 1px solid $color-white;
      }
    }
    &-label {
      justify-self: center;
      align-self: center;
      padding: 0.7rem 2rem;
      border-radius: 3px;
      font-weight: 700;
      background-color: $color-primary;
      color: $color-white;
      font-size: $small-font-size;
    }
  }
  &__button {
    margin-right: 0.5rem;
  }
  &__icon {
    height: 2.3rem;
    width: 2.3rem;
    fill: currentColor;
  }
  &__img {
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
  }
  &__dropdown {
    position: absolute;
    background-color: $color-black;
    display: flex;
    top: 100%;
    left: auto;
    right: 1.5rem;
    flex-direction: column;
    border-radius: 3px;
    z-index: 100;
    width: 18rem;
    border: 1px solid $color-white;
    &::before {
      border-bottom: 7px solid $color-white;
      top: -8px;
    }
    &::after {
      border-bottom: 7px solid $color-black;
      top: -6px;
    }
    &::before,
    &::after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      content: '';
      position: absolute;
      display: inline-block;
      right: 1.6rem;
    }
  }
}
